@import "tailwindcss";

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {

  html{
      @apply bg-gray-300  text-black transition; 
  }

  button{
      @apply px-3 text-sm py-2 rounded-lg cursor-pointer transition 
      hover:duration-400 hover:opacity-80 hover:scale-105
      disabled:bg-slate-400/30 disabled:cursor-auto 
      hover:disabled:opacity-100 hover:disabled:scale-none;
  }

  .primary-btn{
      @apply bg-blue-600 font-bold text-[15px] text-white
  }

  input{
      @apply px-1.5 py-1 outline-none border rounded-sm font-bold placeholder:italic placeholder:font-light;
  }

  input.input-error, select.input-error {
    @apply outline-none border-red-500
  }
}